/*-------------------------Tags ------------------------*/
.tabs { overflow: hidden; }
.tab_head {}
.tab_head li { float: left;list-style-type: none;padding:0 20px; text-align: center; cursor: pointer;border-left:1px solid #999;}
.tab_head li.f {padding-left:0; border-left:none;}
.tab_head li.l { }
.tab_head li a { display: block;color:#999; }
.tab_head li.h_sel {}
.tab_head li.h_sel a { color: #007dc1 !important; }
.tab_con { }
.tab_con .item { display: none; }
.tab_con .c_sel { display: block !important; }
