<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="8100" />
    <add key="Timeout" value="30" />
    <add key="PageWidth" value="960" />
    <add key="SysLog" value="false" />
    <add key="SysName" value="Information Commons" />
    <add key="SysAutoSchoolName" value="Information Commons" />
    <add key="LabName" value="楼层" />
    <add key="RoomName" value="区域" />
    <add key="DevName" value="设备" />
    <add key="KindName" value="类型" />
    <add key="ClassName" value="类别" />
    <add key="DeptName" value="部门" />
    <add key="ReachTestName" value="项目" />
    <add key="DeptKind" value="775" />
    <!--部门类型-->
    <add key="Debug" value="0" />
    <!--调试模式下将有复制新建功能-->
    <add key="DevAndKind" value="0" />
    <!--新建设备下新建类型-->
    <add key="KindAndClass" value="1" />
    <!--新建类型是否新建类别-->
    <add key="SysKind" value="31" />
    <!--1空间,2电子阅览室,4外借设备,8座位,16活动安排,-->
    <add key="SysKindRoom" value="空间" />
    <!--1空间-->
    <add key="SysKindPC" value="电子阅览室" />
    <!--2电子阅览室-->
    <add key="SysKindLend" value="外借" />
    <!--4外借设备-->
    <add key="SysKindSeat" value="座位" />
    <!--8座位-->
    <add key="SchoolCode" value="11482" />
    <!--学校编码-->
    <add key="TurtorReacher" value="0" />
    <!--新建导师的时候1新建课题，0不新建-->
    <add key="DevListMode" value="20" />
    <!--设备日常管理包含的过滤条件1校区，2实验室,4房间，8类别,16,状态-->
    <add key="DevListCol" value="0" />
    <!--设备日常管理包含的列是否包含预约时间1包含，0不包含-->
    <add key="DevLoginTime" value="0" />
    <!--1显示登录时间，0显示登录时长-->
    <add key="ResvCheck" value="1" />
    <!--预约是否需要审核1审核，0不需要审核-->
    <add key="DevSNStart" value="1" />
    <!--devsn开始编号-->
    <add key="TutorName" value="负责人" />
    <!--导师姓名-->
    <add key="LeadName" value="授权委托" />
    <!--课题负责人-->
    <add key="RTRepay" value="1" />
    <!--审核的时候预收费-->
    <add key="ERoomDoor" value="0" />
    <!--电子阅览室是否有门禁1表示有,0表示没有-->
    <add key="SysFrame" value="ic" />
    <!--Lab实验室管理系统,Asset资产管理系统,IC空间管理系统，Site场地管理系统,Enter企业门禁-->
    <add key="RemoveCtrl" value="1" />
    <!--远程控制栏是否显示（重启，关机），1表示显示，0表示隐藏-->
    <add key="cn.edu.tongji.lib.service" value="http://lib.tongji.edu.cn/wxService/service.asmx" />
    <add key="loginAll" value="0" />
    <!--启用单点登录 -->
    <add key="loginAllType" value="" />
    <!--cas：url认证西北工大；com铸件认证  -->
    <add key="LoginAllSerURL" value="" />
    <!--统一登陆的网址 -->
    <add key="LoginAllOutURL" value="" />
    <!--统一认证退出的网址 -->
    <add key="LoginAllValURL" value="" />
    <!--统一认证的网址 -->
    <add key="scheduleMode" value="4" />
    <!--pro 教学预约流程 自动创建项目=1 隐藏项目概念=2 个人预约=4 默认标准（严格实验计划、实验项目模式） -->
    <add key="ICTypeMode" value="0" />
    <!--0表示绝对日期，1表示教学日期主要涉及到查询统计和导入预约的时候 -->
    <add key="TeachResvMode" value="0" />
    <!--0,表示常见模式；1为计量模式-->
    <add key="roomNumMode" value="1" />
    <!--0普通房间模式,1：多房间模式(手工设置房间管理员组，远程控制的时候选择设备模式，管理员设置不一样)-->
    <add key="ICLabRoom" value="1" />
    <!--1:表示房间和实验室独立开来，0表示新建房间的时候同时修改实验室-->
    <add key="Coords" value="250,120.039918,30.283071,120.04981,30.283002" />
    <!--配置在最外层web.config pro new 定位精度与基准坐标(英文逗号隔开，支持多个) 格式：精确度(单位:米),经度1,纬度1,经度2,纬度2... 例：100,120.039918,30.283071,120.04981,30.283002-->
    <add key="CastVote" value="0" />
    <!--开启投票功能=1-->
    <add key="ICCampu" value="0" />
    <!--启用校区功能=1-->
    <add key="openroomgroup" value="0" />
    <add key="apkversion" value="130" />
    <add key="apkversionName" value="LabView.apk" />
    <add key="customNo" value="1AF" />
    <add key="functionMode" value="0" />
    <!--1显示门禁，2收费，4上网监控程序监控 -->
 <add key="schoolname" value="杭州联系信息技术有限公司" />
    <add key="scanResvMaxMins" value="0" />
    <!--扫二维码预约座位的时候，只显示最大时间数，不能只有选择-->

  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="server=192.168.3.25;database=unilab3;uid=ccmadmin;pwd=lchz761UF" />
  </connectionStrings>
  <system.web>

   <httpRuntime maxRequestLength="2097151" executionTimeout="3600" useFullyQualifiedRedirectUrl="false" />
    <httpModules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
    </httpModules>

    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <customErrors mode="Off" />
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="None" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <mimeMap fileExtension=".mkv" mimeType="video/x-matroska" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
</configuration>