@charset "utf-8";

table {
    border-collapse: collapse;
}

ul, li {
    list-style-type: none;
    padding-left: 0;
}

a, a:link, a:visited {
    color: #006699;
    font-weight: normal;
    text-decoration: none;
}

img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
}

h1 {
    font-size: 30px;
    margin: 0 0 30px;
    padding: 5px 0;
    font-family: "微软雅黑";
}

h2 {
    font-size: 26px;
    margin: 0 0 25px;
    padding: 5px 0;
    font-family: "微软雅黑";
}

h3 {
    font-size: 20px;
    margin: 0 0 20px;
    padding: 0;
    font-family: "微软雅黑";
}

h4 {
    font-size: 16px;
    margin: 0 0 15px;
    padding: 0;
}

h5 {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
}

h6 {
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
}

.cleaner {
    clear: both;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.hidden {
    display: none;
}
.hide {
    display:none;
}

.show {
    display: block;
}

.red {
    color: red;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.click {
    cursor:pointer !important;
    color:#006699 !important;
}
a.click:hover {
    color:#4faddc !important;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.tip_box {
    display:none;position:absolute;border:1px solid #999;background-color:#fafafa;padding:10px;
    font-size:12px;
    line-height:18px;
}

#wait_icon {
    display: none;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    background: url(images/wait.gif) no-repeat;
}

#tp_body {
    width: 960px;
    height: auto;
    margin: 0 auto;
}

#tp_header {
    position:relative;
    width: 960px;
    height: 182px;
    background: url(images/head_bg.jpg) no-repeat;
}

#tp_footer {
    text-align: center;
    line-height: 40px;
    color: #fff;
    height: 40px;
    background: url(images/foot_bg.jpg) no-repeat;
}
/*dialog*/
/*.ui-dialog {
    position: absolute;
    overflow: hidden;
}*/

/*.ui-dialog-titlebar {
    display: none;
}*/

.dialog {
    position: relative;
    display: none;
    text-align: left;
    background: #FFF;
}

    .dialog h6 {
        height: 25px;
        line-height: 25px;
        font-family: 微软雅黑 !important;
        color: #065FA0;
        font-size: 18px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .dialog table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .dialog th {
        padding: 0 5px;
        color: #666;
        border: none;
        height: 40px;
        vertical-align: middle;
    }

    .dialog td {
        padding: 0;
        margin: 0;
        height: 40px;
        vertical-align: middle;
    }

    .dialog .error {
        margin-left: 3px;
        color: red;
    }

    .dialog .input_txt {
        width: 200px;
        height: 24px;
        line-height:24px;
    }

#alterdialog .input_txt {
    margin-bottom: 0;
}

#alterdialog th {
    width: 120px;
    text-align: right;
}

#alterdialog td {
    padding: 5px 0;
}

#alterdialog .submitarea {
    padding-top: 20px;
    padding-left: 267px;
}


.dialog .submitarea {
    padding-top: 10px;
    text-align:center;
}


#logindialog {
    padding-top: 37px;
    width: 383px;
    height: 211px;
    _padding-bottom: 30px;
}

    #logindialog form {
        padding: 0 0 0 45px;
    }


.dialog .fail, .dialog .success {
    padding-top: 20px;
    margin-right: 55px;
    text-align: center;
    font-size: 14px;
    color: #666;
}


#regdialog {
    padding-top: 37px;
    height: 265px;
    _padding-bottom: 30px;
}

    #regdialog form {
        padding: 0 0 0 50px;
    }

/*申请表*/
.resv_panel h6{
    margin-bottom:0px;
}
.resv_panel .sub_form{
    width:80px;
    height:30px;
    line-height:28px;
    font-size:14px;
    font-weight:600;
    color:#065FA0;
    cursor: pointer;
}

.resv_panel .colored {
    background-color:#fafafa;
}
.resv_panel .resv_tbl_h {
    padding-left:20px;
}
.resv_tbl {
    color: #333;
    margin: 20px;
    overflow: hidden;
    line-height: 16px;
    font-size: 14px;
}

    .resv_tbl table {
        border-collapse: collapse;
        text-align: left;
    }
    .resv_tbl .th {
        color:#065FA0;
        text-align:right;
        padding:10px;
        margin:0;
        font-family:微软雅黑;
    }

        .resv_tbl table td {
            border: 1px solid #ccc;
            min-height: 34px;
            vertical-align: middle;
            padding:5px;
        }

    .resv_tbl input:focus {
        background-color: #dcf3f6;
    }

    .resv_tbl input[type=text] {
        width: 200px;
        height: 20px;
        line-height:20px;
        padding: 2px;
    }

    .resv_tbl select {
        width: 208px;
        height: 28px;
    }
    

#position {
    height: 26px;
    line-height: 26px;
    margin: 5px;
    font: 14px;
    font-family: 微软雅黑;
    color: #065FA0;
}
/*首页*/
.model {
    overflow: hidden;
    margin: 4px 0px;
    height: auto;
}

.box {
    border: 1px solid #006699;
    overflow: hidden;
    width: 594px;
}

.h_box {
    padding-left: 20px;
    font-family: 微软雅黑;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}

    .h_box a {
    }

.c_box {
    height: 208px;
    padding: 1px;
}

.box .h_box {
    background: url(images/h_box.jpg) no-repeat;
    height: 32px;
}

.box .c_box {
}

.short_box {
    overflow: hidden;
    width: 356px;
    border: 1px solid #006699;
}

    .short_box .h_box {
        background: url(images/h_short_box.jpg) no-repeat;
        height: 32px;
    }

    .short_box .c_box {
    }



/*表*/
.box_tbl table {
    margin: 2px;
    width: 99%;
    font-size: 12px;
    text-align: center;
}

    .box_tbl table td {
        margin: 0;
        padding: 0;
        line-height: 24px;
        border: 1px solid #ccc;
    }

/*新闻*/
.d_list ul {
    padding-left: 0;
    margin: 10px 0;
}

    .d_list ul li {
        height: 20px;
        margin: 6px 0;
        border-bottom: 1px dotted #ccc;
        line-height: 20px;
    }

        .d_list ul li span {
            color: #1f64a2;
        }

/*仪器详情页*/
.detail_up {
    overflow: hidden;
    border-bottom: none;
}

.detail_con {
}

.detail_img {
    display: block;
}

.detail_list td {
    line-height: 24px;
    text-indent: 0;
}

    .detail_list td.dt {
        border-right: 1px solid #aaa;
        font-family: 微软雅黑;
        color: #274A5C;
        font-weight: 600;
        width: 80px;
        padding-left: 40px;
    }

    .detail_list td.dd {
        color: #274A5C;
        font-family: 微软雅黑;
        padding-left: 30px;
    }

#detail .c_grey {
    text-indent: 2em;
    padding: 10px 8px;
    font-size: 12px;
    line-height: 20px;
}
.Wdate {
border: #999 1px solid;
height: 20px;
background: #fff url(images/datePicker.gif) no-repeat right;
}
/*个人信息页*/
.acc_tbl {
    border-collapse: collapse; margin: 20px auto;width:460px;vertical-align:middle;
}
.acc_tbl td{
    border:1px solid #ccc;
    height:30px;
}
.acc_tbl input{
    height:20px;
    line-height:20px;
    width:160px;
}
#tutor_name{
    width:128px;
}
/*导师页面*/
a.tutor_check {
    cursor:pointer;
}
/*-------------------------------------------文章------------------------------------------------*/
.div_title {
    overflow: hidden;
    font-size: 22px;
    font-family:微软雅黑;
    font-weight:500;
    line-height: 30px;
    color: #000;
    text-align: center;
    border-bottom: dashed 1px #808080;
    margin: 20px 10px 0 10px;
    padding:5px 5px 10px 5px;
}

.div_attribute ul {
    height: 20px;
    margin: 0px 10px;
    padding: 5px;
    background-color: #e3eef8;
    overflow: hidden;
}

    .div_attribute ul li {
        float: right;
        margin-left: 5px;
    }

        .div_attribute ul li span.t {
            color: #0171bb;
        }

.div_content {
    height: auto;
    min-height: 120px;
    overflow:hidden;
    margin: 3px 10px 10px 10px;
    padding: 5px 10px;
    background-color: #f6f6f6;
    border-bottom: dashed 1px #808080;
}
.div_content p{
    text-indent:0;
}
.div_enclosure {
    overflow:hidden;
    margin:10px 0;
}
.div_enclosure a{
    color:#000;
}
.div_enclosure a:hover {
    color: #0171bb;
    text-decoration: underline;
}