<?xml version="1.0" encoding="UTF-8"?>
<!-- 前端全局配置-->
<!--带pro的配置仅在全局生效，不能放入项目中-->
<configuration>
  <appSettings>
    <add key="MobileSysKind" value="1"/>
    <!--1空间,2电子阅览室,4外借设备,8座位,16活动安排-->
    <add key="ResvDevLevel" value="1"/>
    <!--电子阅览室和座位预约到具体设备还是预约类型,1表示设别，2表示类型-->
    <add key="LoginCheckWebSer" value="1"/>
    <!--登陆是否调用第三方webservice 1调用 0不调用-->
  </appSettings>
</configuration>
