#jumbotron.tight { background: url(images/top_bg.jpg) repeat-x; }
/*#jumbotron { color:#000;text-shadow:none;}
body .navbar-inverse {background-color:rgb(158,46,120); }
.bs-docs-footer { background-color:rgb(158,46,120);}*/